/* Box Model Hack */
* {
     box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
     background-color: rgb(235, 238, 242);
}


/******************************************
/* LAYOUT
/*******************************************/
div#price-table {
     /* border: 1px solid black; */
     width: 700px;
     height: 500px;
     margin: 150px auto;
}

header {
     display: flex;
     justify-content: space-between;
     align-items: center;
}

div#plan-choice {
     font-size: 14px;
}

#title {
     font-family:   monospace;
     font-weight: 900;
}

input[value="Monthly"] {
     text-align: center;
     border: none;
     border-radius: 30px;
     background-color: rgb(208, 212, 218);
     color: rgb(60, 62, 66);
     padding: 14px;
     padding-right: 96px;
}

input[value="Monthly"]:hover {
     cursor: pointer;
     background-color: white;
}

input[value="Yearly"] {
     text-align: center;
     border: none;
     border-radius: 30px;
     background-color: white;
     color: rgb(14, 16, 35);
     padding: 10px 20px;
     margin-left: -85px;
}

input[value="Yearly"]:hover {
     cursor: pointer;
     background-color: rgb(208, 212, 218);;
}

#plan-option {
     margin-top: 20px;
     display: flex;
     justify-content: space-evenly;
}

#starter {
     background-color: white;
     padding: 20px;
     width: 48%;
     margin-right: 2%;
     box-shadow: -10px 10px 10px rgba(0, 0, 0, 0.122);
}

#pro {
     background-color: white;
     padding: 20px;
     width: 48%;
     margin-left: 2%;
     box-shadow: -5px 5px 10px rgba(0, 0, 0, 0.122);
}

input#option1 {
     text-align: center;
     padding: 16px 110px;
     margin: 20px 0 20px 0;
     border: none;
     background-color: black;
     color: white;
     border: 1px solid white;
     border-radius: 5px;
}

input#option1:hover {
     background-color: white;
     color: black;
     border: 1px solid black;
}

input#option2 {
     text-align: center;
     padding: 16px 110px;
     margin: 38px auto 20px auto;
     border: none;
     background-color: white;
     color: black;
     border: 1px solid black;
     border-radius: 5px;
}

input#option2:hover {
     background-color: black;
     color: white;
     border: 1px solid white;
}


/******************************************
/* ADDITIONAL STYLES
/*******************************************/
